body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0D0D0D;
    font-family: 'Lora', serif;
}

header .logo img {
    max-height: 100px;
    width: auto;
}

.menu-icon {
    display: none; /* Ocultar por defecto */
    font-size: 30px; /* Tamaño del ícono de menú */
    cursor: pointer;
    color: #E4DA8E;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin:30px; /* Espaciado entre los elementos de navegación */
}

nav ul li a {
    color: #E4DA8E;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a.active {
    color: #ECAC60;
}
 
.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #E4DA8E;

}

@media (max-width: 768px) {
    .menu-icon  {
        display: block; /* Muestra el menú hamburguesa en móvil */
    }
}

.social-media-icons img {
    width: 40px;
    height: 40px;
    margin-left: 5px;
}

.herocancun {
    background-image: url('images/cancún/1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    padding: 100px 20px;
    font-family: 'Lora', serif;
    height: 60vh;
    align-items: flex-start;
}



.herocancun h1 {
    font-size: 4rem; /* Tamaño grande para pantallas grandes */
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 3px; /* Espaciado entre letras */
    margin-bottom: 0px;
    margin-left: 80%;
    transition: font-size 0.3s ease; /* Suaviza el cambio de tamaño al ajustar la pantalla */
}


.herocancun h2 {
    font-size: 2rem; /* Tamaño adecuado para subtítulos */
    font-family: 'Bebas Neue', sans-serif;
    font-weight: normal;
    letter-spacing: 2px; /* Espaciado entre letras */
    margin-left: 55%;
    margin-top: 0;
    transition: font-size 0.3s ease; /* Suaviza el cambio de tamaño al ajustar la pantalla */
}

@media (max-width: 1024px) {
    .herocancun h1 {
        font-size: 3rem; /* Tamaño reducido para tabletas */
        margin-left: 2%; /* Menos margen debido al espacio reducido */
    }
    .herocancun h2 {
        font-size: 1.5rem; /* Tamaño ajustado para subtítulos en tabletas */
        margin-left: 4%;
    }
}

@media (max-width: 768px) {
    .herocancun h1 {
        font-size: 2.5rem; /* Tamaño más pequeño para dispositivos móviles */
        margin-left: 0; /* Eliminar margen para centrar en móviles */
    }
    .herocancun h2 {
        font-size: 1.2rem; /* Más pequeño para que se ajuste a móviles */
        margin-left: 0; /* Centrado en móviles */
    }
    .herocancun {
        padding: 10% 5%; /* Padding más generoso para más espacio en móviles */
    }
}@media (max-width: 768px) {
    .menu-icon {
        display: block; /* Mostrar ícono de menú */
    }

    nav ul {
        flex-direction: column;
        display: none; /* Ocultar menú inicialmente */
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #0D0D0D;
    }

    nav ul li {
        text-align: center;
        width: 100%;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

}




.container {
    width: 60%; /* Ajuste de la anchura del contenedor principal */
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 20%;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px; /* Espacio entre grupos de formulario */
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="checkbox"][type="date"],
select,
.input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    cursor: pointer;
}

button {
    padding: 10px 20px;
    background-color: #003A81; /* Verde */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #F0E595;
}





#terms label {
    display: flex;
    align-items: center; /* Asegura que el texto y el checkbox estén alineados verticalmente */
    margin-bottom: 10px; /* Espacio entre cada término */
    padding-left: 20px; /* Añade un poco de padding a la izquierda para alinear los textos correctamente */
}

#terms input[type="checkbox"] {
    margin-right: 10px; /* Espacio entre el checkbox y el texto */
}




.herop {
    background-image: url('images/puntacana/PUNTA\ CANA1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    padding: 100px 20px;
    font-family: 'Lora', serif;
    height: 60vh;
    align-items: flex-start;
}



.herop h1 {
    font-size: 3.5rem; /* Tamaño grande para pantallas grandes */
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 3px; /* Espaciado entre letras */
    margin-bottom: 0px;
    margin-left: 70%;
    transition: font-size 0.3s ease; /* Suaviza el cambio de tamaño al ajustar la pantalla */
}


.herop h2 {
    font-size: 2rem; /* Tamaño adecuado para subtítulos */
    font-family: 'Bebas Neue', sans-serif;
    font-weight: normal;
    letter-spacing: 2px; /* Espaciado entre letras */
    margin-left: 55%;
    margin-top: 0;
    transition: font-size 0.3s ease; /* Suaviza el cambio de tamaño al ajustar la pantalla */
}

@media (max-width: 1024px) {
    .herop h1 {
        font-size: 3rem; /* Tamaño reducido para tabletas */
        margin-left: 2%; /* Menos margen debido al espacio reducido */
    }
    .herop h2 {
        font-size: 1.5rem; /* Tamaño ajustado para subtítulos en tabletas */
        margin-left: 4%;
    }
}

@media (max-width: 768px) {
    .herop h1 {
        font-size: 2.5rem; /* Tamaño más pequeño para dispositivos móviles */
        margin-left: 0; /* Eliminar margen para centrar en móviles */
    }
    .herop h2 {
        font-size: 1.2rem; /* Más pequeño para que se ajuste a móviles */
        margin-left: 0; /* Centrado en móviles */
    }
    .herop {
        padding: 10% 5%; /* Padding más generoso para más espacio en móviles */
    }
}









footer {
    background-color: #000;
    color: #fff;
    padding: 40px 20px 20px;
    font-family: "Funnel Display", sans-serif;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  
  .footer-logo {
    margin-right: 40px;
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  .footer-logo img {
    width: 200px; /* Logo más grande */
    height: auto;
  }
  
  .footer-column {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .footer-column h3 {
    color: #e1b54f; /* Color dorado para los títulos */
    margin-bottom: 20px;
    font-size: 20px; /* Títulos más grandes */
    font-weight: normal;
}
  
  .footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 10px;
  }
  
  .footer-column a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 16px; /* Texto más grande */
  }
  
  .footer-column a:hover {
    color: #e1b54f;
  }
  
  .footer-column p {
    margin: 10px 0;
    font-size: 16px; /* Texto más grande */
  }
  
  .social-icons {
    display: flex;
    margin-top: 20px;
  }
  
  .social-icons a {
    margin-right: 15px;
  }
  
  .social-icons img {
    width: 30px; /* Iconos más grandes */
    height: 30px;
  }
  
  .footer-bottom {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #333;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px; /* Texto del copyright más grande */
  }
  
  .rnt-code {
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
    }
    
    .footer-logo {
      margin-right: 0;
      margin-bottom: 30px;
    }
    
    .footer-column {
      text-align: center;
      margin-left: 0;
    }
    
    .social-icons {
      justify-content: center;
    }
    
    .footer-bottom {
      flex-direction: column;
      text-align: center;
    }
  }

